{% extends "items/base.html" %}
{% block content %}
{% load static %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="#" class="list-group-item active">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            <!-- Product Reviews !-->
            댓글
          </div>
          <div class="card-body">
            <p> 댓글 내용 {{ comment.comment_content}} </p>
            <div style="text-align: right">
            <form method="post">
            {% csrf_token %}
                <button type="submit" name="UD" value="update" class="btn btn-warning"> 수정 </button>
                <button type="submit" name="UD" value="delete" class="btn btn-danger"> 삭제 </button>
            </form>
            </div>
            <br>
            <small class="text-muted">
            작성일: {{ comment.create_date }}
            </small>
            <br>
             <small class="text-muted">
             수정일: {{ comment.modify_date }}
            </small>
            <hr>

          
        
          {% comment %} <a href="#" class="btn btn-success">Leave a Review</a>

          <button type="submit" class="btn btn-success">댓글 작성
          </button> {% endcomment %}
  
          

            
          </div>
          
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
  </div>
  <!-- /.container -->


{% endblock %}
