<html>

<head>
    {% load static %}
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="wrap">
        <div class="form-wrap">
            <div class="button-wrap">
                <div id="btn"></div>
                <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
            </div>
            <form method="POST" id="login" action="{% url 'check' %}" class="input-group">
                {% csrf_token %}
                <input name="email" type="text" value="" class="input-field" placeholder="User name or Email" required>
                <input name="password" type="password" value="" class="input-field" placeholder="Enter Password" required> {% if messages %} {% for message in messages %} {{ message.tags }} {{ message.message }} {% endfor %} {% endif %}
                <button class="submit">Login</button>
            </form>
        </div>
    </div>
    <script>
        var x = document.getElementById("login");
        // var y = document.getElementById("register");
        var z = document.getElementById("btn");


        function login() {
            x.style.left = "50px";
            // y.style.left = "450px";
            z.style.left = "0";
        }

        function register() {
            x.style.left = "-400px";
            // y.style.left = "50px";
            z.style.left = "110px";
        }
    </script>
</body>

</html>